{{ if site.Params.calendar.enable }}
{{ with site.Params.calendar }}
{{"<!-- Start goteamup -->" | safeHTML}}
<section id="blog" class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeInDown">
					<h2> {{ with i18n "calendarTitle" }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
							{{ with i18n "calendarTitle" }} {{ index (split . " ") 1 | safeHTML }} {{ end }} </span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			<script src='https://teamupstatic.com/teamup.js' type='text/javascript'></script>
			<script type='text/javascript'>
			teamup.calendar({
			provider_id:4321397,
			width:"100%",
			view:"week"
			});
			</script>



		</div>
	</div>
</section>
{{"<!-- /goteamup -->" | safeHTML}}

{{ end }}
{{ end }}
